# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.venv/ 
__pycache__/
*.pyc
instance/
.webassets-cache
.pytest_cache/
.coverage
/flask_backend/myEnv
/flask_backend/__pycache__/
/flask_backend/*.pyc
/reviewsense_env/
env/
/nlp-sentiment-analysis-pretarined-models/venv/

ENV/
env.bak/
venv.bak/
*.sqlite3
*.db
*.sqlite
*.egg-info/

# Ignore all __pycache__ directories recursively
__pycache__/

# Ignore Python bytecode files
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore log files and temporary files
*.log
*.tmp

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp

# Ignore compiled files
*.so
*.dll
*.dylib
*.o
*.a

# Ignore test result files
*.coverage
*.pytest_cache/